.box{
  width: 400px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  border-width: thick;
  border-style: solid;
  border: 2px dashed blue;
}

.caja-uno,
.caja-dos{
  padding: 2px;
  margin: 20px;
  border: medium solid orange;
  background-color: chocolate;
}

.caja-linea,
.caja-bloque{
  background-color: darkcyan;
  color: white;
  width: 500px;
  height: 250px;
  border: medium solid black;
  padding: 16px;
}

.caja-bloque{
  margin: 32px;
}

.caja-bloque{
  margin: 4px;
}

.caja-none,
.caja-linea, 
.caja-hidden {
  background-color: darkolivegreen;
  color: white;
  width: 600px;
  height: 300px;
  border: medium solid black;
}

.caja-linea{
  display: inline-block;
}

.caja-none{
  display: none;
}

.caja-hidden{
  display: hidden;
}

.overflow{
  background-color: darkturquoise;
  width: 200px;
  height: 100px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
}

.box-sizing-border,
.box-sizing-content{
  background-color: deepskyblue;
  box-sizing: content-box;
  width: 500px;
  height: 250px;
  padding: 10px;
  border: thick solid black;
}

.box-sizing-border{
  box-sizing: border-box;
}

.container-col-3{
  background: burlywood;
  width: 600px;
  height: 300px;
}

.container-col-3 > *{
  width: 200px;
  float: left;
  border: thin solid red;
}

/* Formateo a Border Box de Paul Lirish */
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

.container-floats{
  background-color: cornflowerblue;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.clearfix{
  float:both;
}

/* Colapso de Margenes Verticales */

.margin-collapse{
  background-color: skyblue;
}

.margin-collapse section{
  border: thin solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-collapse span{
  border: thin solid black;
  display:inline-block;
  margin-right: 16px;
  margin-left: 16px;
}

.sitio-web{
  background-color: thistle;
  width: 800px;
  height: 1000px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}


