.list{
  list-style-position: square;
  list-style-type: lower-roman;
  list-style-type: upper-latin;
  list-style-type: lower-greek;
  list-style-type: none;
}

.list li::before{
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/favicon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.text-column{
  columns: 4;
  column-gap: 2rem;
}

.text-column-2{
  columns: 2;
  column-gap: 2rem;
  column-rule:thin solid black;
  column-width: 100px;

}