html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

.box{
  width: 200px;
  height: 200px;
  border: thin solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

.card {
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.transitions .box{
  background-color: magenta;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  transition: border-color 3s linear 1s;
  transition: all 2S ease-in-out 250ms;
}

.transitions .box:hover{
  background-color: cyan;
  border-color: red;
  border-radius: 2rem;
  border-style: dashed;
}

.transitions .card{
  transition: opacity 1s ease-out,
  border-color 3s steps(3),
  filter 2s ease-in 1s,
  box-shadow 1.5s linear 2s;
}

.transitions .card:hover{
  opacity: .75;
  border-color: orchid;
  filter: blur(.5rem);
  box-shadow: 1rem 1rem 2rem 0.5rem #000;
}

.transitions .card img{
  transition: object-position 2s ease-in-out 3s;
}

.transitions .card img:hover{
  object-position: 100% 50%;
}

.transform-2d img{
  transition: transform 2s ease-in-out;
} 

.transform-2d img:hover{
  transform: none;
  transform: translateX(4rem);
  transform: translateY(4rem);
  transform: translate(-4rem, -4rem);
  transform: scaleX(2);
  transform: scaleY(.5);
  transform: scale(.5, .5);
  transform: scale(-.5, .5);
  transform: rotateX(60deg);
  transform: rotateY(60deg);
  transform: rotateZ(60deg);
  transform: skew(20deg);
  transform: skewX(20deg);
  transform: skewY (20deg);
  transform: skew(20deg, 20deg);

  transform: matrix(1, 2, 2, 3, 5, 5);
  transform: translate(25%, 50%) rotate(240deg) skew(10deg) scale(-0.5, -0.5);
}

.transform-3d{
  perspective: 10rem;
}

.transform-3d img{
  transition: transform 2s ease-in-out;
}

.transform-3d img:hover{
  transform: translateZ(4rem);
  transform: perspective(10rem) translateZ(4rem);
  transform: perspective(10rem) translateZ(-4rem);
  transform: translateZ(4rem);
  transform: translate3d(2rem, 50%, -3rem);
  transform: rotate3d(-1, 2,5, -2, 60deg) translate3d(2rem, 50%, -3rem) scale(2, 0.5, 3);
}

.transform-origin img{
  transition: transform 2s ease-in-out;
  transform-origin: 50% 50% 0;
  transform-origin: 0, 0;
  transform-origin: top right;
  transform-origin: bottom left;
}

.transform-origin img:hover{
  transform: rotate(360deg);
}

.flip-card-1, .flip-card-2{
  border: thin solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;

  position: relative;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  perspective: 10rem;
  transform-style: preserve-3d;
}

.flip-card-2{
  transform-origin: center right;
}

.flip-card-1 img, .flip-card-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.flip-card-1:hover{
  transform: rotateY(180deg);
}

.flip-card-2:hover{
  transform: translateX(-100%) rotateY(180deg);
}

.flip-face{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flip-front{
  transform: rotateY(0deg);
}

.flip-back{
  transform: rotateY(180deg);
}

@keyframes myAnimation{
  from{
    opacity: 0;
    transform: translateX(0);
  }

  to{
    opacity: 1;
    transform: translateX(100%);
  }
}

.my-animation{
  /* animation: name duration timing-function delay iteration-count direction fill-mode;;
  animation-play-state: ; */
  animation-name: myAnimation;
  animation-duration: 3s;
  /* delay de la animacion */
  animation-delay: 3ms;
  /* Duracion de la animacion */
  animation-timing-function: cubic-bezier(1,0,0,1);
  animation-timing-function: ease-in-out;
  /* Repeticion de la animacion */
  animation-iteration-count: infinite;
  animation-iteration-count: 2;
  /* Indica la direccion de la animacion */
  animation-direction: reverse;
  animation-direction: alternate;
  /* Al final de la animacion se queda con lo estilos finales de la animacion */
  animation-fill-mode: forwards;
  /* Al inicio de la animacion se queda con los estilos iniciales de la animacion */
  animation-fill-mode: backwards;
  /* Ambas */
  animation-fill-mode: both;
  /* Iniciar y parar la animacion */
  animation-play-state: paused;
  animation-play-state: running;

}

@keyframes myAnimation2 {
  0%{
    opacity: 0;
    transform: translateX(0);
  }
  
  50%{
    opacity: 0.5;
    transform: translateX(-50%);
  }
  
  75%{
    transform: translateX(-75%);
  }
  
  100%{
    opacity: 1;
    transform: translateX(100%);
  }
}

.my-animation-2{
  animation: myAnimation2 2s;
  animation: myAnimation2 10s;
}

.motion-examples{
  text-align: center;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.fade-in{
  font-size: 5vw;
  animation: fadeIn 2s linear 2s infinite alternate both;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

.fade-out{
  font-size: 5vw;
  animation: fadeOut 2s linear 2s infinite alternate both;
}

@keyframes shake{
  10%,
  90%{
    transform: translate(-1px, 0);
  }

  20%,
  80%{
    transform: translate(2px, 0);
  }
  
  30%,
  50%,
  70%{
    transform: translate(-4px, 0);
  }
  
  40%,
  60%{
    transform: translate(4px, 0);
  }
}

.shake{
  font-size: 5vw;
  cursor: pointer;
  display: inline-block;
}

.shake:hover{
  animation: shake 1s cubic-bezier(1,0,0,1) both;
  transform: translate(0, 0);
}

@keyframes pulse{
  0%{
    transform: scale(1.1);
  }

  50%{
    transform: scale(.8);
  }

  100%{
    transform: scale(1);
  }
}

.pulse{
  font-size: 5vw;
  animation: pulse 1s linear infinite both;
}

.heart{
  
}