html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

.box{
  width: 200px;
  height: 200px;
  border: thin solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

.card {
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.transitions .box{
  background-color: magenta;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  transition: border-color 3s linear 1s;
  transition: all 2S ease-in-out 250ms;
}

.transitions .box:hover{
  background-color: cyan;
  border-color: red;
  border-radius: 2rem;
  border-style: dashed;
}

.transitions .card{
  transition: opacity 1s ease-out,
  border-color 3s steps(3),
  filter 2s ease-in 1s,
  box-shadow 1.5s linear 2s;
}

.transitions .card:hover{
  opacity: .75;
  border-color: orchid;
  filter: blur(.5rem);
  box-shadow: 1rem 1rem 2rem 0.5rem #000;
}