.static{
  background-color: yellow;
  position: static;
  top: 10px;
  left: 10px;
}

.relative{
 background-color: turquoise; 
 position: relative;
 width: 300px;
 height: 50px;
 top: 50px;
 left: 50px;
}