html{
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  margin: 0;
}

.slides{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: ;
}

.slide{
  width: 100%;
  height: inherit;
  background-color: lightslategrey;
}

.slide:nth-child(even){
  background-color: gray;
}

.slide-container{
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: whitesmoke;
}
