html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

.box{
  width: 200px;
  height: 200px;
  border: thin solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

.box-shadow{
  /* box-shadow: mov-x mov-y blur-radius spread-blur color; */
  box-shadow: 1rem 1rem 1rem 1rem #000;
  /* Sombra interna */
  box-shadow: 1rem 1rem 1rem .5rem #000 inset;
}

.drop-shadow{
  width: 600px;
  height: auto;
}

.drop-shadow img{
  max-width: 100%;
  height: auto;
  box-shadow: 1rem 1rem 1rem 1rem #000;
  filter: drop-shadow(1rem 1rem 1rem #000);
}

.linear-gradient{
  background-image: linear-gradient(red, green);
  background-image: linear-gradient(90deg, red, green);
  background-image: linear-gradient(to top, red, green, black);
  background-image: linear-gradient(to bottom left, red, green, black);
  background-image: linear-gradient(90deg,green 33%, white 34%67%, red 68%);
}

.radial-gradient{
  background-image: radial-gradient(cyan, magenta);
  background-image: radial-gradient(circle 4rem, cyan, magenta);
  background-image: radial-gradient(circle 80px, red 50%, white 50%);
}

.conic-gradient{
  background-image: conic-gradient(red, green);
  background-image: conic-gradient(red 0% 50%, green 60%, blue 80%);
}

.repeat-gradient-lineal{
  background-image: repeating-linear-gradient(red 0 10px, green 10px 20px , blue 20px 30px);
}

.repeat-gradient-radial{
  background-image: repeating-radial-gradient(
    circle 4rem,
    cyan 0 10px,
    magenta 10px 20px,
    yellow 20px 30px
  );
}

.repeat-gradient-conic{
  background-image: repeating-conic-gradient(red 0 8%, yellow 8% 16%, black 16% 24%);
}

.chart-gradient{
  background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.donut-gradient{
  background-image: radial-gradient(white 30%, black 31%, transparent 31.5%), conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.card {
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.filter {
  /*
  filter: blur(1rem);
  filter: blur(0.25rem);
  filter: blur(0.15rem);
  filter: brightness(1);
  filter: brightness(0.75);
  filter: brightness(0.5);
  filter: brightness(0.25);
  filter: brightness(0);
  filter: brightness(2);
  filter: brightness(4);
  filter: contrast(0);
  filter: contrast(0.25);
  filter: contrast(0.5);
  filter: contrast(0.75);
  filter: contrast(1);
  filter: contrast(2);
  filter: contrast(4);
  filter: grayscale(0);
  filter: grayscale(0.25);
  filter: grayscale(0.5);
  filter: grayscale(0.75);
  filter: grayscale(1);
  filter: sepia(0);
  filter: sepia(0.25);
  filter: sepia(0.5);
  filter: sepia(0.75);
  filter: sepia(1);
  filter: hue-rotate(0deg);
  filter: hue-rotate(30deg);
  filter: hue-rotate(60deg);
  filter: hue-rotate(90deg);
  filter: hue-rotate(120deg);
  filter: hue-rotate(150deg);
  filter: hue-rotate(180deg);
  filter: hue-rotate(210deg);
  filter: hue-rotate(240deg);
  filter: hue-rotate(300deg);
  filter: hue-rotate(330deg);
  filter: invert(0);
  filter: invert(1);
  filter: opacity(0);
  filter: opacity(0.25);
  filter: opacity(0.5);
  filter: opacity(0.75);
  filter: opacity(1);
  filter: saturate(0);
  filter: saturate(0.25);
  filter: saturate(0.5);
  filter: saturate(1);
  filter: saturate(2);
  filter: saturate(4);
  filter: drop-shadow(1rem 1rem 1rem steelblue);
  */
  filter: invert(1);
}

.filters-multiple {
  filter: blur(0.1rem) hue-rotate(270deg) opacity(0.75) invert(1);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop-filter,
.backdrop-filter-multiple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.backdrop-filter h4 {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  color: #000;
  background-color: rgba(255, 102, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  /*
  backdrop-filter: grayscale(1);
  backdrop-filter: sepia(1);
  backdrop-filter: opacity(0.25);
  backdrop-filter: hue-rotate(180deg);
  */
  backdrop-filter: blur(0.5rem);
}

.backdrop-filter-multiple h4 {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(255, 102, 255, 0.5);
  backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0.75) invert(1);
}
