html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

.box{
  width: 200px;
  height: 200px;
  border: thin solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

.box-shadow{
  /* box-shadow: mov-x mov-y blur-radius spread-blur color; */
  box-shadow: 1rem 1rem 1rem 1rem #000;
  /* Sombra interna */
  box-shadow: 1rem 1rem 1rem .5rem #000 inset;
}

.drop-shadow{
  width: 600px;
  height: auto;
}

.drop-shadow img{
  max-width: 100%;
  height: auto;
  box-shadow: 1rem 1rem 1rem 1rem #000;
  filter: drop-shadow(1rem 1rem 1rem #000);
}

.linear-gradient{
  background-image: linear-gradient(red, green);
  background-image: linear-gradient(90deg, red, green);
  background-image: linear-gradient(to top, red, green, black);
  background-image: linear-gradient(to bottom left, red, green, black);
  background-image: linear-gradient(90deg,green 33%, white 34%67%, red 68%);
}

.radial-gradient{
  background-image: radial-gradient(cyan, magenta);
  background-image: radial-gradient(circle 4rem, cyan, magenta);
  background-image: radial-gradient(circle 80px, red 50%, white 50%);
}
