html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-explicit{
  display: grid;
  grid-template-columns: 20% repeat(2, 30%) 20%;
  grid-template-rows: repeat(5, auto);
  /* gap: 1vh 1vw; */
}

.grid-explicit .item:nth-child(10){
  color: cadetblue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  /* Con grid area pones los valores de grid row y luego grid colum */
}

.grid-explicit .item:nth-child(12){
  color: cadetblue;
  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-child(15){
  color: cadetblue;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.grid-line-names{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows: [linea-r1] auto [linea-r2] auto [linea-r3] auto [linea-r4];
}

.grid-line-nanmes .item:nth-child(3){
  color: cyan;
  grid-row: linea-r3 / linea-r4; 
  grid-column: linea-c1 / linea-c4;
}

.grid-areas{
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 100px repeat(2, 1fr) 60px;
  grid-template-areas: 
    "header header"
    "content sidebar"
    "content ."
    "footer footer";
}

.header{
  grid-area: header;
}

.content{
  grid-area: content;
}

.sidebar{
  grid-area: sidebar;
}

.footer{
  grid-area: footer;
}

.grid-implicit{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}

.grid-flow{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-auto-rows: 100px;
}

.grid-layers{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-layers .item:nth-child(1){
  background-color: yellow;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.grid-layers .item:nth-child(2){
  background-color: blue;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.grid-layers .item:nth-child(3){
  background-color: green;
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.grid-layers .item:nth-child(4){
  background-color: orange;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

.grid-layers .item:nth-child(5){
  background-color: pink;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.grid-order{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-order .item:nth-child(1){
  order: 1;
}

.grid-order .item:nth-child(2){
  order: 2;
}

.grid-order .item:nth-child(5){
  order: -1;
}

.grid-align{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /* end start stretch center */
  /* Acomoda en el eje x */
  justify-items: center;
  /* end start stretch center */
  /* Acomoda en el eje y */
  align-items: center;
}

.grid-align .item:nth-child(4){
  justify-self: start;
  align-self: center;
}

.grid-align-tracks{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /* Las mismas propiedades que flexbox justify es para eje x y align para eje Y */
  justify-content: space-evenly;
  align-content: space-evenly;
}

.grid-min-max{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-template-columns: repeat(4, minmax(min-content, 200px));
  grid-template-columns: repeat(4, minmax(100px, min-content));
  grid-template-columns: repeat(4, minmax(100px, max-content));
  grid-template-columns: repeat(4, minmax(max-content, 200px));
  grid-template-columns: repeat(4, minmax(min-content, max-content));
}

.grid-repeat{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 10% 20% 30% 40%);
  grid-template-columns: repeat(1, 10% 20% 30% 40%);
}

.grid-dynamics{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-responsive{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1vw;
}

.grid-nested{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}