html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.grid-explicit{
  display: grid;
  grid-template-columns: 20% repeat(2, 30%) 20%;
  grid-template-rows: repeat(5, auto);
  /* gap: 1vh 1vw; */
}

.grid-explicit .item:nth-child(10){
  color: cadetblue;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  /* Con grid area pones los valores de grid row y luego grid colum */
}

.grid-explicit .item:nth-child(12){
  color: cadetblue;
  grid-row: span 2;
  grid-column: span 3;
}

.grid-explicit .item:nth-child(15){
  color: cadetblue;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}


